<ion-view title="Announcements">
	<ion-content class="has-header">
		<ion-refresher
	    	pulling-text="Pull to refresh..."
	    	on-refresh="refresh();">
	  	</ion-refresher>
		<div class="list">
			<div class="item" ng-repeat="feedItem in rss track by $index" ng-click="openAnnounce($index)">
				<div class="rssTitle" ng-bind="feedItem.title"></div>
			</div>
			<div class="spacer" style="height:10px"></div>
			<div class="item" ng-click="openSystemLink('https://goo.gl/forms/xCkWNZLQE8YOS2823')">Submit an Announcement</div>
		</div>
	</ion-content>
</ion-view>
