<ion-view title="Athletics">
	<ion-content padding="true" class="has-header">
		<ion-refresher
	    	pulling-text="Pull to refresh..."
	    	on-refresh="refresh();">
	  	</ion-refresher>
		<div class="list">
			<div class="item" class="athleticEvent" ng-repeat="event in events track by $index" ng-click="openMapsLocation(event.location)">
				<!--<i id="rss-close-{{$index}}" style="" class="icon ion-arrow-right-b"></i>
				<i id="rss-open-{{$index}}" style="display:none;" class="icon ion-arrow-down-b"></i>-->
				<div class="athleticEventTitle" ng-bind="event.title"></div>
				<div class="athleticEventTime" ng-bind="formatTime(event.startTime)"></div>
				<div class="athleticEventDesc" ng-bind="event.desc"></div>
			</div>
		</div>
	</ion-content>
</ion-view>