<ion-view title="News">
	<ion-content padding="true" class="has-header">
		<ion-refresher
	    	pulling-text="Pull to refresh..."
	    	on-refresh="refresh();">
	  	</ion-refresher>
		<div id="news-messages">
		</div>
		<div class="list">
			<a ng-repeat="feedItem in rss track by $index" class="item item-thumbnail-left" href="#/main/home/article/{{$index}}">
		      <img fallback-src="build/img/logo2.jpg" ng-src="{{feedItem.image}}">
		      <b style="">{{feedItem.title}}</b>
		    </a>
		</div>
	</ion-content>
</ion-view>