<ion-view title="Lunch Menu">
	<ion-content scroll="true" overflow-scroll="true" class="has-header padding" zooming="true">
		<div id="lunch-menu-zoom" style="width:100%; height:100%; transform-origin:top left;transform:scale(0.8,0.8);">
			<iframe src="http://www.sagedining.com/menus/pingry" style="width:125%;height:125%"></iframe>
		</div>
	</ion-content>
	<!--ion-scroll zooming="true" direction="xy" class="zoom-pane" scrollbar-x="false" scrollbar-y="false" overflow-scroll="false">
		<div style="width:2000px; height:2000px">
		<!-img src='build\img\logo2.jpg' style="width:2000px"->
		<iframe src="http://www.sagedining.com/menus/pingry" style="width:100%; height:100%"></iframe>
		</div>
	</ion-scroll-->
</ion-view>