<ion-view title="Schedule">
	<ion-content padding="true" class="has-header" id="scheduleContent" on-swipe-right="prevDay()" on-swipe-left="nextDay()">
		<div style="display:block">
			<div id="changeDayMenu" on-hold="resetDate()">
				<div id="changeDayLeft" on-tap="prevDay()"><i class="icon ion-arrow-left-b"></i></div>
				<div id="currentDay" ng-bind="displayDate" on-tap="openDatePicker()"></div>
				<div id="changeDayRight" on-tap="nextDay()"><i class="icon ion-arrow-right-b"></i></div>
			</div>
			<div id="letterMenu" ng-show="isLetter(letter)">
				<div id="letter" ng-bind="letter"></div>
				<div id="periods" ng-bind="periodList"></div>
			</div>
		</div>
		<div id="nonSchoolDay" ng-show="letter==''">No school!</div>
		<div id="mySchedule" class="list">
			<div ng-repeat="cls in classes track by $index" on-tap="clickedClass(cls);" class="item row class-{{cls.type}}" style="background-color: {{cls.color}}; border-bottom:0px;border-top:0px;">
				<div class="col col-33 class-time">
					<div style="display: inline" class="startTime" ng-bind="formatTime(cls.startTime)"></div>
					<div style="display: inline" ng-show="cls.type == 'block'"><br><br></div>
					<div style="display: inline" ng-show="cls.type == 'staticblock'"><br></div>
					<div style="display: inline" ng-show="cls.type != 'block' && cls.type != 'staticblock' && cls.startTime != ''"> - </div>
					<div style="display: inline" class="endTime" ng-bind="formatTime(cls.endTime)"></div>
				</div>
				<div class="col col-67 class-name col-center" style="white-space:initial;">{{cls.name}}</div>
			</div>
		</div>
	</ion-content>
</ion-view>
