<ion-view title="Settings">
	<ion-content padding="true" class="has-header">
		<div class="list">
			<a class="item" ui-sref="main.classManage">Class Management</a>
			<div class="item">
				<span ng-click="scheduleOverrideHelp()" class="input-label" style="width:55%;">Schedule Override: <i class="icon ion-help-circled"></i></span>
				<label class="item-select item" style="height:44px">
				    <select ng-change="setScheduleType(overrideSett)" ng-model="overrideSett">
				    	<option value="-1">Disabled</option>
				      	<option ng-repeat="sched in scheduleTypes track by $index" value="{{$index}}" ng-bind="sched[0]" ng-selected="$index == scheduleType" ng-hide="$last"></option>
				    </select>
				</label>
			</div>
			<div class="item item-toggle">
				Athletic Event Maps
				<label class="toggle toggle-balanced">
			       <input ng-model="athleticMaps" ng-change="updateAthletic(athleticMaps)" type="checkbox">
			       <div class="track">
			         <div class="handle"></div>
			       </div>
			    </label>
			</div>
			<div class="item" ng-click="forceRefresh()">Force Calendar Refresh</div>
			<div class="item" ng-click="letterRefresh()">Force Letter Day Refresh</div>
			<div class="item item-toggle" ng-show="superMode">
				Hacker Theme
				<label class="toggle toggle-balanced">
			       <input ng-model="hackerTheme" ng-change="hackerTheme?addExtra('hackerTheme'):removeExtra('hackerTheme')" type="checkbox">
			       <div class="track">
			         <div class="handle"></div>
			       </div>
			    </label>
			</div>
		</div>
	</ion-content>
</ion-view>