html *, .item, .input-label, .input-label option, input{
	color: #00FF00;
	font-family:monospace;
}

input, .item-select select {
	color: #00FF00 !important;
}

ion-content, .item, .item-select select {
	background-color: #000000;
}

ion-header-bar {
	background-color: #003300 !important;
}